<div class = "container-fluid" id = "margin-topping">
  
  <div id="bg">
    <div id="container">
      <div id="box-bg"></div>
        <div id="box">
          <div class= "row">
            <div class = "col-md-12 text-center">
                <h3>About Galloping Ghost Arcade</h3>
            </div>
          </div>
          <div class= "row">
            <div class = "col-md-offset-3  col-md-6 text-center">
                <p>The Galloping Ghost Arcade was opened on Friday the 13th, August, 2010. We opened with 130 arcade games that were saved from the brink of destruction and restored for all to enjoy. In 2014, we had grown into the largest arcade in the world with over 440 arcade games, with games coming in from all over the world. The concept for the arcade grew from the lack of functioning arcades in the Chicago area. While many were still open, most did not take care of their machines and did not provide an environment to celebrate what arcades had lead us to in present day gaming. With the Galloping Ghost Arcade, our goals were clear from the start. Provide arcade gaming at a level not seen in before. We wanted to offer a cost effective place to play, host professional events and expose everyone to arcade games that they had not seen in decades. </p>
                <p>Since its inception, the arcade has focused on bringing arcade gaming to the public with a professional attitude towards gaming. Our $15 entry fee has eliminated the need for quarters and tokens, which made it so you can spend the day playing arcade games without having to budget your tokens. It also has encouraged players to explore the vast number of games they may have never played before.</p>
                <p>We have an incredible selection of arcade games ranging from the more common classics like Donkey Kong, Space Invaders, and Pac-Man, to incredibly rare titles that many have never even seen in the arcades before, such as Primal Rage II, Hammer Away, and Godzilla.</p>
                <p>The players that come to the Galloping Ghost Arcade have helped create a community that is unmatched. While extremely competitive, it is a very relaxed and inviting community. Players are quick to share information and help each other become better gamers. While some players take the competition to a very high level, they all respect other players at the arcade, creating an amazing environment from casual play to pro. </p>
                <p>We look to continually evolve and make the arcade gaming experience here just that: an experience. This is not just a place with a bunch of games, but a place that is looked at as something special to everyone. Our goal is to continue to grow not only as an arcade, but help the resurgence of arcades all over the world.</p>
            </div>
          </div>
        </div>
    </div>  
  </div>
</div>