<div class = "container-fluid" id = "margin-topping">
  
  <div id="bg">
    <div id="container">
      <div id="box-bg"></div>
        <div id="box">
          <div class= "row">
            <div class = "col-md-12 text-center">
                <h3>Events</h3>
            </div>
          </div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10387625_10204968993016598_1610638728093941833_n.jpg?oh=5682c4218ed9c10149ce2ba01e2343d0&oe=56AB6A81" alt="...">
      <div class="caption">
        <h3 class = "text-center"> Arcade Tournament</h3>
        <p>Join us for a major arcade high score tournament at the Galloping Ghost Arcade!
The main tournament will consist of 20 games that will be announced at the start of the tournament!
Full stream coverage. Cash & prizes to the winners!
This will be the first of an annual event. With Funspot unable to run their tournament this year, we hope
that we can accommodate the high score community. In the future, the tournament date will be later in
the year to avoid conflict with Funspot’s established event.
Do not miss this high scoring event!</p>
        <p>
          <a href="http://www.gallopingghostarcade.com/registration-page/?action=evregister&event_id=1" class="btn  btn-primary btn-block" role="button">Register Now</a> 
      </div>
    </div>
  </div>
</div>
        </div>
    </div>  
  </div>
</div>