<div class = "container-fluid">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <button class="btn btn-hero btn-lg" role="button">Watch Video Tour</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>We are smart</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>We are amazing</h1>        
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
  </div> 
</div>

<div class = "row">
    <div class = "col-md-12 text-center">
      <h2>Welcome to the Galloping Ghost</h2>
    </div>
</div>

<div class = "row">
    <div class = "col-sm-12 col-md-offset-3 col-md-6 mainp">
       <p>The GALLOPING GHOST ARCADE provides a video gaming experience like no other! We are the LARGEST video arcade in the USA, and currently have over 440+ games to play and have more games up and running all the time! Unlike most arcades, we do not use quarters or tokens. All of our games are set to FREE PLAY! We charge a $15 door fee and then you can come in and play ALL the games for as long as you want! We are open until 2AM daily (EVERYDAY including all holidays)! We offer Weekly, Monthly, Yearly & Lifetime Memberships as well! We are also one of the most reputable arcades for tracking high scores and world records. We currently have over 180+ World Records set here!</p>
    </div>
</div>

<div class = "row">
    <div class = "col-md-offset-3 col-md-3 text-center">
      <h2>Location</h2>
      <div class = "row">
        <div class = "col-md-12">
              <span>9415 Ogden Ave.<br>
Brookfield, IL 60513<br>
1pm-2am Mon-Fri<br>
11am-2am Sat-Sun</span>

        </div>    
      </div>
    </div>
    <div class = "col-md-3 text-center">
      <h2>Social Media</h2>
        <div class = "row">
          <div class = "col-md-12">
              <a href ="https://www.facebook.com/GallopingGhostArcade"><i class="fa fa-facebook-official fa-5x fa-fw"></i></a>
              <a href ="https://www.reddit.com/r/GallopingGhostArcade"><i class="fa fa-reddit-square fa-5x fa-fw"></i></a>
              <a href ="http://www.twitch.tv/gallopingghostarcade"><i class="fa fa-twitch fa-5x fa-fw"></i></a>
              <a href ="https://twitter.com/gghostarcade"><i class="fa fa-twitter-square fa-5x fa-fw"></i></a>
          </div>    
        </div>
    </div>
</div>

</div>
